nav {
  padding-top: 5px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: grey;
  height: 60px;
  position: fixed;
  top: 0px;
  border: 2px solid black;
  width: 100%;
}
nav img {
	border: 1px solid black;
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
nav ul {
	display: inline-block;
	position: absolute;
	margin-top: 7.5px;
	padding-left: 30px;
	font-size: 20px; 
	color: blue;
}
a:visited {
	color: red;
}
a:hover {
	font-weight: bold;
	color: green;
}
a:active {
	font-size: 30px;
	color: black;
}

ul li::after {
	margin-left: 5px;
	margin-right: 5px;
	content: "\00a6";
	font-size: 20px;
	color: black;
}

nav li {
	display: inline-block;
	margin-top: -90px;
}

body {
  background: url(../images/outerspace_landscape.jpeg) no-repeat;
  background-size: cover;
}

.dotbox {
	margin-top: 200px;
	width: 600px;
	height: 300px;
	border: 10px dotted green;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.cat {
	width: 200px;
	height: 200px;
	position: absolute;
	margin-top: -100px;
	margin-left: -100px;
}
.dog {
	width: 200px;
	height: 200px;
	position: absolute;
	margin-top: 200px;
	margin-left: 450px;
}
